@(msg: String)

@import helper._

@main("Haiku Matcher") {
<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12 title">
				<h3>物件紹介書</h3>
			</div>
		</div>
		<div class="row">
			@* 左側 *@
			<div class="col-xs-12 col-md-6 col-lg-6">
				<table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<th>物件名</th>
						<td>豊洲アーバンプレイス</td>
					</tr>
					<tr>
						<th>交通</th>
						<td>有楽町線豊洲駅　徒歩1分<br/>ゆりかもめ豊洲駅　徒歩5分</td>
					</tr>
					<tr>
						<th>住所</th>
						<td>東京都江東区豊洲１−３−２　豊洲アーバンプレイス２０１</td>
					</tr>
					<tr>
						<th>価格</th>
						<td>20,000,000円</td>
					</tr>
					<tr>
						<th>公法上の制限</th>
						<td>特になし</td>
					</tr>
					<tr>
						<th>建ぺい率</th>
						<td>70%</td>
					</tr>
					<tr>
						<th>容積率</th>
						<td>100%</td>
					</tr>
					<tr>
						<th>間取り</th>
						<td>2LDK</td>
					</tr>
					<tr>
						<th>構造</th>
						<td>鉄筋コンクリート造</td>
					</tr>
					<tr>
						<th>所有者</th>
						<td>個人</td>
					</tr>
					<tr>
						<th>情報元</th>
						<td>株式会社ABC</td>
					</tr>
					<tr>
						<th>担当者</th>
						<td>法人営業部　山田隆夫</td>
					</tr>
					<tr>
						<th>備考</th>
						<td>現行利回り6.7%<br/>
							この物件はサンプル物件です。実在の物件とは一切関係がありません。
						</td>
					</tr>
					<tr>
						<th>社内備考</th>
						<td>外部非公開情報
						</td>
					</tr>
				</tbody>
			</table>
			</div>

			@* 右側 *@
			<div class="col-xs-12 col-md-6 col-lg-6">
				<img src="@routes.Assets.versioned("images/map1.png")" width="600" height="350" class="img-responsive" alt="Responsive image"/>
				<img src="@routes.Assets.versioned("images/map2.png")" width="600" height="350" class="img-responsive" alt="Responsive image"/>
			</div>
		</div>
	</div>	
</div>
}
