@(title: String)
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>一覧画面</title>
		<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12 title">
						物件化一覧（現物）
					</div>
				</div>
				<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>物件No.</th>
						<th>案件ランク</th>
						<th>住所</th>
						<th>価格</th>
						<th>交通</th>
						<th>担当者</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/detail/">H34AFDFDA</a></td>
						<td>A</td>
						<td>東京都江東区豊洲２丁目</td>
						<td>30,000,000</td>
						<td>有楽町線豊洲</td>
						<td>山田隆夫</td>
					</tr>
					<tr>
						<td><a href="/detail/">_0OK443AA</a></td>
						<td>B</td>
						<td>東京都台東区寿一丁目</td>
						<td>20,000,000</td>
						<td>銀座線田原町</td>
						<td>宇検事</td>
					</tr>
					<tr>
						<td><a href="/detail/">H5AGHJD00</a></td>
						<td>A</td>
						<td>東京都江東区豊洲三丁目</td>
						<td>80,000,000 ~ 81,200,000</td>
						<td>ゆりかもめ豊洲</td>
						<td>木下之男</td>
					</tr>
					<tr>
						<td><a href="/detail/">H5GMMKO23</a></td>
						<td>C</td>
						<td>神奈川県横浜市港北区下田町１−６−１</td>
						<td>入札締切日未定</td>
						<td>交通その他</td>
						<td>山田広尾</td>
					</tr>
					<tr>
						<td><a href="/detail/">K5GMMKOO0</a></td>
						<td>A</td>
						<td>東京都港区南青山一丁目</td>
						<td>20,000,000 ~ 25,000,000</td>
						<td>銀座線青山一丁目</td>
						<td>坂田広</td>
					</tr>
				</tbody>
			</table>
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12 title">
						物件化一覧（受益権）
					</div>
				</div>
				<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>物件No.</th>
						<th>案件ランク</th>
						<th>住所</th>
						<th>価格</th>
						<th>交通</th>
						<th>担当者</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/detail/">H34AFDFDA</a></td>
						<td>A</td>
						<td>東京都江東区豊洲２丁目</td>
						<td>30,000,000</td>
						<td>有楽町線豊洲</td>
						<td>山田隆夫</td>
					</tr>
					<tr>
						<td><a href="/detail/">_0OK443AA</a></td>
						<td>B</td>
						<td>東京都台東区寿一丁目</td>
						<td>20,000,000</td>
						<td>銀座線田原町</td>
						<td>宇検事</td>
					</tr>
					<tr>
						<td><a href="/detail/">H5AGHJD00</a></td>
						<td>A</td>
						<td>東京都江東区豊洲三丁目</td>
						<td>80,000,000 ~ 81,200,000</td>
						<td>ゆりかもめ豊洲</td>
						<td>木下之男</td>
					</tr>
					<tr>
						<td><a href="/detail/">H1AAMKOO0</a></td>
						<td>B</td>
						<td>東京都北区赤羽２丁目</td>
						<td>入札(2015/06/29)</td>
						<td>銀座線青山一丁目</td>
						<td>酒井忍</td>
					</tr>
				</tbody>
			</table>
		</div>
    </body>
</html>